.kanban {
	&__input {
		background-color: #fff;
		display: block;
		width: 100%;
		padding: 0.375rem 0.75rem;
		font-size: 1rem;
		line-height: 1.5;
		color: $black;
		background-clip: padding-box;
		border: 1px solid #ced4da;
		border-radius: 0.25rem;
		margin: 0;
		transition: background 85ms ease-in, border-color 85ms ease-in, box-shadow 85ms ease-in, height 85ms ease-in;
		box-shadow: none;
		outline: none;
		box-sizing: border-box;
	}

	&__button {
		border-radius: 4px;
		color: $black;
		padding: 0.5rem 0.85rem;
		border: 0;
		cursor: pointer;
		transform: scale(1);

		&--blue {
			background-color: $blue;
			color: #ffffff;
		}

		&--green {
			background-color: $green;
			color: #ffffff;
		}

		&--red {
			background-color: $red;
			color: #ffffff;
		}

		&--orange {
			background-color: $orange;
			color: #ffffff;
		}

		&:hover {
			opacity: 0.9;
		}

		&:active {
			transform: scale(0.95);
		}

		&:disabled {
			opacity: 0.5;
			user-select: none;
			transform: scale(1);

			&:active {
				transform: scale(1);
			}
		}
	}

	&__text {
		font-size: 14px;
		color: $black;

		&--error {
			color: $red;
		}
	}

	&__modal {
		&__header {
			height: 50px;
			display: flex;
			align-items: center;
			padding: 0 15px;

			&__title {
				font-size: 20px;
				font-weight: bold;
			}
		}

		&__footer {
			position: absolute;
			bottom: 0;
			padding: 10px;
			display: flex;
			height: 50px;
			align-items: center;
			width: 100%;
			box-sizing: border-box;
		}
	}

	&__float {
		position: fixed;
		width: 80px;
		height: 60px;
		right: 30px;
		bottom: 30px;
	}
}

/* width */
::-webkit-scrollbar {
	width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
	background-color: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background-color: #d6dee1;
	border-radius: 20px;
	border: 6px solid transparent;
	background-clip: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background-color: #a8bbbf;
}